body{
    width: 75%;
    margin: auto;
}
#fileChooser{
    font-size: 15px;
    margin: 0.5em 20%;
    padding: 0 20px;
}

#date{
    margin: auto;
    text-align: left;
    font-size: 18px;
    font-family: verdana;
    font-style: italic;
}
pre{
    border: thin solid #a7b3c6; 
    white-space:pre-wrap; 
    padding-right: 1ex; 
    max-width:calc(100%-2ex); 
    min-height: 75vh;
    height: 75vh;
    max-height: 75vh;
    margin:0em;
    overflow: scroll;
    width: 100%;
    margin: auto;
    scroll-behavior: smooth;
}
code{
    width: 100%;
    max-height: 50vh;
    overflow: scroll;
    line-height: 22px;
    font-size: 16px;
    scroll-behavior: smooth;
}

#controls{
    margin: auto;
    padding: 1em;
    align-items: center;
    width: 100%;
}

button {
    background-color: #4CAF50;
    border: thin;
    border-radius: 10px; 
    color: white;
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100px;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#play{
    /*margin: 0 0 0 30%;*/
}

#pause{
    /*margin: 0 30% 0 0;*/
    background-color: #4380e0;
}

#fastForward, #reverse{
    background-color: white;
    color: black;
    border: thin solid black;
}

select{
    font-size: 20px;
    background-color: white;
}

#steps{
    
}

#speed{
    float: right;
}

/*https://jsfiddle.net/4zxm7fw0/436/ */
#slider{
    -webkit-appearance: none;
    width: 100%;
    background-image: -webkit-gradient(linear,
        left top, 
        right top, 
        color-stop(0%, #df7164), color-stop(0%, #F5D0CC));
    border-radius: 6px;
    height: 6px;
}

.info{
    font-size: 20px;
}

#slider:focus{
    outline: none;
    border: none;
}


#alert{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    color: black;
    transform: translate(-50%,-50%);
    display: block;
    font-family: courier;
}

/*For the last edit highlight*/
.modified{
    color: white; 
    background-color: rgb(26, 41, 107)
}

/*For syntax highlighting*/
.comment { 
    font-style: italic; 
    color:#808080; 
}
.string { 
    font-weight:bold; 
    color: #008000; 
}
.number { 
    color: #0000ff; 
}
.keyword { 
    font-weight: bold; 
    color: #000080; 
}
.lineno { 
    background:#f0f0f0; 
    padding:0ex 1ex; 
    color:#999999; 
    font-weight:normal; 
    font-style:normal; 
}